<app-navbar></app-navbar>
<div class="jumbotron text-center bg-warning" >
	<h1 class="text-center">Distribute Work Page</h1> 
</div>
<div class="container"><br>
    <div *ngIf="errorTrue" class="alert alert-danger">{{errorMsg}}</div>
    <div style="float:right"><button routerLink="/addDistributeWork" class="btn btn-primary"><i class="uil uil-plus"></i> Distribute Work</button></div><br>
    <br>
    <table class="table table-striped">
        <thead>
            <th>Date</th>
            <th>Status</th>
            <th>Quantity</th>
            <th>Damage</th>
            <th>Update</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let dw of distributeData">
                <td>{{dw.date}}</td>
                <td>{{dw.status}}</td>
                <td>{{dw.quantity}}</td>
                <td>{{dw.damage}}</td>
                <td><a><i class="uil uil-pen" (click)="editData(dw)"></i></a></td>
                <td><a><i class="uil uil-trash" (click)="deleteDistribute(dw.assignid)"></i></a></td>
            </tr>
        </tbody>
    </table>
</div><br>
