<app-navbar></app-navbar>
<div class="jumbotron text-center bg-info" style="margin-bottom:20px;color: white;">
	<h1 class="text-center">Product Page</h1> 
</div>
<div class="container"><br>
    <div *ngIf="errorTrue" class="alert alert-danger">{{errorMsg}}</div>
    <div style="float:right"><button routerLink="/addProduct" class="btn btn-primary"><i class="uil uil-plus"></i>Add product</button></div><br>
    <br>
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Size</th>
            <th>Update</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let pd of productData">
                <td>{{pd.name}}</td>
                <td>{{pd.description}}</td>
                <td>{{pd.size}}</td>
                <td><a><i class="uil uil-pen" (click)="editProduct(pd)"></i></a></td>
                <td><a><i class="uil uil-trash" (click)="deleteProduct(pd.pid)"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>