<!DOCTYPE html>
<html lang="en">
<head>
  <title>Catalog page</title>
</head>
<body> 
    <app-navbar></app-navbar>

<div class="jumbotron text-center bg-warning" style="margin-bottom:20px;color: white;">
	<h1 class="text-center"><b>Catalog Page</b></h1> 
	<button type="button" style="float:right;" class="btn btn-primary text-center" (click)="openPopup()">
  <i class="uil uil-plus"></i>  Add Catalog</button>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <form (submit)="addcatalog()" [formGroup]="catalogGroup" method="post">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Add Catalog</h4>
    </div>
    <div class="modal-body">
              <div class="input-group">
                  <input formControlName="catalogname" required  [class.is-invalid]="f['catalogname'].invalid && (f['catalogname'].dirty || f['catalogname'].touched)" class="form-control" placeholder="enter your catalog Name" type="text" class="form-control" id="catalogname" aria-describedby="catalognameHelp">
              </div>
              <div *ngIf="f['catalogname'].invalid && f['catalogname'].touched">
                  <small class="text-danger" *ngIf="f['catalogname'].errors?.['required']">Please enter the catalog Name!</small>
              </div><br>
  
              <div class="input-group">
                  <input formControlName="catalogtype" required  [class.is-invalid]="f['catalogtype'].invalid && (f['catalogtype'].dirty || f['catalogtype'].touched)" class="form-control" placeholder="enter your catalog Type" type="text" class="form-control" id="catalogtype" aria-describedby="catalogtypeHelp">
              </div>
              <div *ngIf="f['catalogtype'].invalid && f['catalogtype'].touched">
                  <small class="text-danger" *ngIf="f['catalogtype'].errors?.['required']">Please enter the catalog Type!</small>
              </div><br>
  
              <div class="input-group">
                  <input formControlName="catalogsize" required  [class.is-invalid]="f['catalogsize'].invalid && (f['catalogsize'].dirty || f['catalogsize'].touched)" class="form-control" placeholder="enter your catalog Size" type="number" class="form-control" id="catalogsize" aria-describedby="catalogsizeHelp">
              </div>
              <div *ngIf="f['catalogsize'].invalid && f['catalogsize'].touched">
                  <small class="text-danger" *ngIf="f['catalogsize'].errors?.['required']">Please enter the catalog Size!</small>
              </div><br>
  
              <div class="input-group">
                  <input formControlName="uploadfile" required  [class.is-invalid]="f['uploadfile'].invalid && (f['uploadfile'].dirty || f['uploadfile'].touched)" class="form-control"  type="file" class="form-control" id="uploadfile" aria-describedby="uploadfileHelp">
              </div>
              <div *ngIf="f['uploadfile'].invalid && f['uploadfile'].touched">
                  <small class="text-danger" *ngIf="f['uploadfile'].errors?.['required']">Please upload the file!</small>
              </div><br>
  
    </div>
    <div class="modal-footer">
      <div class="input-field button">
          <button type="submit" class="btn btn-primary" style="margin-right: 10px; ;">Submit</button> 
      <button type="button" class="btn btn-danger" (click)="closePopup()">Close</button>
      </div>
    </div>
    </div>
  </div>
  </form>
  </div>

  <div class="row">
      <div *ngFor="let cd of catalogData" class="card-body text-center col-sm-3">
				<div class="container">
					<div class="card">
						<img class="card-img-top" src={{cd.imgurl}} alt="Card image" style="width:100%;">
						<div class="card-body">
							<h4 class="card-title">John Doe</h4>
							<p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
						</div>
            <button class="btn btn-danger"><i class="uil uil-pen"></i>&nbsp;Delete</button><br>
					</div>
				</div>
      </div>
  </div>

</body>
</html>
