
<app-navbar></app-navbar>
<div class="jumbotron text-center bg-warning" style="margin-bottom:20px;color: white;">
	<h1 class="text-center">Order Page</h1> 
</div>
<div class="container"><br>
    <div *ngIf="errorTrue" class="alert alert-danger">{{errorMsg}}</div>
    <div style="float:right"><button routerLink="/addOrder" class="btn btn-primary"><i class="uil uil-plus"></i>Add order</button></div><br>
    <br>
    <table class="table table-striped">
        <thead>
            <th>Product</th>
            <th>Vendor</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Damage</th>
            <th>catalog</th>
            <th>Update</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let od of orderData">
            <td>{{od.pname}}</td>
            <td>{{od.vname}}</td>
            <td>{{od.date}}</td>
            <td>{{od.quantity}}</td>
            <td>{{od.damage}}</td>
            <td>{{od.cname}}</td>
            <td><a><i class="uil uil-pen" (click)="editOrder(od)"></i></a></td>
            <td><a><i class="uil uil-trash" (click)="deleteOrder(od.oid)"></i></a></td></tr>
        </tbody>
    </table>
</div>